<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Encounter Generator</title>
  </head>
  <body>
      <h1>Welcome to the Random Encounter Generator</h1>
      <p><a href="./city">City Encounters</a></p>
  </body>
</html>
